<audio id="ost-dbz" src="www/assets/media/head-cha-la.mp3" autoplay></audio>
<audio id="ost-kamehameha" src="www/assets/media/kamehameha.mp3"></audio>
<audio id="ost-punched" src="www/assets/media/ost-punched.mp3"></audio>
<audio id="ost-hit" src="www/assets/media/ost-hit.mp3"></audio>
<audio id="ost-coin" src="www/assets/media/ost-coin.mp3"></audio>

<div id="game">

  <div id="game-container">
    <!--=======================================
                                GAME BACKGROUND
    =======================================-->
    <div id="game-notice">
      <img class="dragon_ball_logo" src="www/assets/pictures/dragon_ball_logo.png">
      <img class="kid_goku" src="www/assets/pictures/kid_goku.png">
      <div id="btn-wrapper">
        <button class="btn-primary">How to play</button>
        <button class="btn-warning btn-start">Start</button>
      </div>
    </div>

    <div id="game-background">
    </div>

    <!--=======================================
                                        GAME HEADER
    =======================================-->
    <div id="game-header">
      <button id="btn-mute"><i class="glyphicon glyphicon-volume-up"></i></button>
      <button id="btn-play-pause"><i class="glyphicon glyphicon-pause"></i></button>
      <p class="help-play-pause-btn"></p>
      <div id="life-bar"></div>
    </div>
    <!--=======================================
                                        GAME ZONE
    =======================================-->
    <div id="game-zone">
      <div id="goku">
        <img class="sizeAndPositionKidGoku" src="www/assets/pictures/goku_cloud.gif" alt="" />
        <div id="goku-front-block"></div>
      </div>
    </div>

    

    <div id="game-helper">
      commandes: <br/>
      arrows: Déplacements<br/>
      a: baton magique, z:kikoho ball, e:one hand kamehameha, r:combo saiyen<br/>
    </div>
  </div>

  <div class="negative-energy-ball"></div>
  <img class="crystal-ball" src="www/assets/pictures/crystal_ball.png">
  <img class="freiza" src="www/assets/pictures/freiza.png">
  <div class="baton"></div>
  <div class="kikoho"></div>
  <div class="yellow_kikoho"></div>
  <div class="kamehameha"></div>
</div>

